@import url('./common.css');
/* common.css */

body{font-family: "Noto Sans KR", Sans-Serif;}

.wrap{
    align-items: center; max-width: 100%;
    overflow-x: hidden;
}


.main{
    align-items: center; margin: 0 auto;
}

.main-1{
    margin: 0; min-width: 100%;
    position: relative; z-index: -100;
    padding-bottom: 200px;
}
.main-1 > video{
    width: 100%;
    
}
.main-1 > div{
    position: absolute;
    top: 50%; left: 50%;
    font-size: 26px; color: #fff;
    text-align: center; transform: translate(-50%, -50%);
    display: flex; flex-direction: column;
    z-index: 99;
}

.main-1> div >p{
    width: 1200px; padding: 20px 0;
    display: block; text-align: center;
    margin-block-start: 1em; align-items: center;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.main-1> div > p:nth-of-type(1){
    font-size: 40px;
    text-align: center;
}
.main-1> div >p:nth-of-type(2){
    margin-top: 30px;
    font-size: 16px;
}

.view{}

.view:hover{
    cursor: pointer;
}
.view img{margin-top: 50px;}

.main-2{
    display: flex; height: 370px;
    justify-content: space-between;
    width: 1200px; margin: 0 auto;
    padding: 50px;

}
.main-2 > div{
    width: 405px;
}


.main-3{
    margin: 0 auto; width: 1200px;
    padding: 200px 0;

}

.main-3 > div{
    display: flex; padding: 50px;
    justify-content: space-evenly;
    align-items: center; font-weight: bold;
}

.main-3-1{
    display: flex; width: 580px;
    flex-direction: column; text-align: center;
    box-shadow: 20px -10px 1000 10 gray;
    position: relative; 
}

.main-3-1 > a{
    font-size: 78px; font-family:'Do Hyeon', sans-serif;
    transition: 0.4s; padding: 50px; color: cornflowerblue;
    cursor: default;
}

.main-3-1 > div{
    display: flex; margin-top: 40px;
    flex-direction: column; 
}
.s1{
    border: 1px solid #ddd; padding: 5px;
    border-radius: 25px; margin: 0 auto;
    width: 154px; text-align: center;
    line-height: 50px; font-weight: bold;
}
.s1 > a{color: #000; font-weight: bold;}

.main-3-1:hover{cursor: pointer;}
.main-3-1:hover > a{
    transition: 0.5s;
    background-color: cornflowerblue;
    color: #fff;
    cursor: pointer;
}

.main-3-2{
    display: flex; width: 580px;
    flex-direction: column;text-align: center;
    box-shadow: 20px -10px 10 10 gray;
}

.main-3-2 > a{
    font-size: 70px; position: relative;
    transition: 0.4s; padding: 56px;
    cursor: default;

}

.main-3-2 > div{
    display: flex; margin-top: 40px;
    flex-direction: column;
}

.s2{
    border: 1px solid #ddd;padding: 5px;
    border-radius: 25px; margin: 0 auto;
    width: 154px; text-align: center;
    line-height: 50px; font-weight: bold;
}

.s2 > a{color: #000; font-weight: bold;}
.main-3-2:hover{cursor: pointer;}
.main-3-2:hover > a{cursor: pointer; background-color: #f93c47}
.main-3-2 > a{height: 197px;}
.main-3-2 > a > img{
    opacity: 1; position: absolute;
    left: 33%;
}
.main-3-2:hover > a > img:nth-of-type(1){
    opacity: 1;
}
.main-3-2:hover > a > img:nth-of-type(2){
    opacity: 100; transition: 0.5s;

}



.main-4{
    background-image: url(../img/01.main/main_img_culture_bg.png);
    background-repeat: no-repeat; width: 100%;
    height: 700px; margin: 0 auto; align-items: center; margin: 0 auto;
    justify-content: center;
}

.main-4 > div{
    width: 1200px; margin: 0 auto;
    left: 15%; 
}


.m-cul{display: none;}
.s3{
    border: 1px solid #626262; border-radius: 20px;
    width: 140px; text-align: center; margin-top: 40px;
    padding: 10px;
    background-color: #000;
}

.s3 > a{
    color: #fff;
}

.main-5{
    padding: 100px 0;
    margin: 0 auto;
    
}
.main-5-1{
    display: flex; justify-content: space-between;
    max-width: 1200px; width: 100%;
    margin: 0 auto;
}
.main-5-1 > b{
font-size: 40px; padding: 50px 0;
}
.main-5-2{
    display: flex; justify-content: space-between;
}
.main-5-2 > span{
    position: relative;
}

.main-5-2 > span:nth-of-type(1) > img{}
.main-5-2 > span:nth-of-type(2) > img{}

.main-5-2 > span > button{
    position: absolute; left: 0.5px;
    height: 50px; width: 50px;
    border-radius: 25px; opacity: 0;
}

.main-5-2 > span > button:active{
    opacity: 0.1;
} 

.main-5-3{
    display: flex; justify-content: space-between;
    width: 100%; margin: 0 auto;
    /* overflow-x : scroll; */
    max-width: 1200px;
}
.main-5-3 > div{
    padding: 50px;
}
.main-5-3 > div > h3{
    font-size: 34px; padding-bottom: 20px;
}
.main-5-3 > div > b{
    font-size: 22px;
}
.main-5-3 > div > p{
    width: 165px; margin-top: 30px;
}





.footer{
    background-color: #000;
    color: #fff; text-align: left;
    height: 512px;
    padding: 88px 0 96px 0;
}

.footer > div{
    width: 1200px; margin: 0 auto;
    display: flex;
}

.footer > div > div:nth-of-type(1){
    display: flex; width: 380px;
}

.footer > div > span{}

.footer > div > div > span{}

.footer > div > div > span > b{
    font-size: 18px; text-decoration: underline;
    margin-right: 50px;
}

.footer > div > div > span > a{
    color: #fff; font-size: 24px;
    margin-right: 50px;
}



.footer-1{
    font-size: 18px; width: 822;
    height: 334px;
    
}
.footer-1 > div{
    padding-bottom: 50px; width: 700px;
    text-align: left;display: flex; flex-direction: column;
}
.footer-1 div > div:nth-of-type(1){
    border-bottom: 1px solid #626262;
    width: 600px;
}
.footer-1 > div > span{
    display: flex; flex-direction: column;
    
}   

.footer-1 > div > span > b{
    text-decoration: underline;
    font-size: 18px;
}
.footer-1 > div > span > p{
    color: #888888; font-size: 18px;
}

.footer-1 >div >div{
    display: flex; justify-content: space-between;
    
    padding: 30px 0px; width: 400px;
}

.footer-1 > div > div >span > b{
    text-decoration: underline;
    font-size: 18px;
} 
.footer-1 > div > div >span > p{
    color: #888888; font-size: 18px;
}

/* ========================================================================
==========================================================================
===========================================================================
==================================785======================================
=========================================================================== */

@media (max-width: 785px){
    .wrap{
    align-items: center; width: 100%;
    margin: 0 auto; padding: 0;
}


.main{
    align-items: center; margin: 0 auto; 
}

.main-1{
    margin: 0; width: 100%;
    padding-bottom: 20px;
}
.main-1 > video{
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 54px;
    object-fit: cover;
}
.main-1 > div{
    top: 50%; left: 50%;
    color: #fff;
    text-align: center; transform: translate(-50%, -50%);
    display: flex; flex-direction: column;
}

.main-1> div p{
    width: 100%; padding: 0;
    display: block; text-align: center;
    margin-block-start: 1em; align-items: center;
    font-weight: bold;
    
}
.main-1> div > p:nth-of-type(1){
    font-size: 20px;
    text-align: center;
    align-items: center;
}
.main-1> div >p:nth-of-type(2){
    font-size: 16px;
}

.main-2{
    display: flex; height: 100%;
    justify-content: space-between;
    width: 100%; margin: 0 auto;
    flex-direction: column;
    padding:50px 50px;

}
.main-2 > div{
    margin: 0 auto;
    width: 100%;
}
.main-2 > div >b{
    font-size: 24px;
}


.main-3{
    margin: 0 auto; width: 100%;
    padding:50px 50px;
}

.main-3 >b{
    font-size: 24px;
}

.main-3 > div{
    display: flex;
    justify-content: space-between;
    align-items: center; font-weight: bold;
    flex-direction: column;
    padding: 0;
}

.main-3-1{
    display: flex; width: 100%;
    flex-direction: column; text-align: center;
    box-shadow: 20px -10px 1000 10 gray;
    border: 1px solid #eee;
}

.main-3-1 > a{
    font-size: 30px; font-family:'Do Hyeon', sans-serif;
    transition: 0.4s; padding: 50px; color: cornflowerblue;
    cursor: default; width: 100%;
}

.main-3-1 > div{
    display: flex; margin-top: 40px;
    flex-direction: column; 
}
.main-3-1 > div >b{
    font-size: 24px;
}
.main-3-1 > div > span{
    font-size: 16px;
}
.s1{
    border: 1px solid #ddd; padding: 5px;
    border-radius: 25px; margin: 0 auto;
    width: 100%; text-align: center;
    line-height: 50px; font-weight: bold;
}
.s1 > a{color: #000; font-weight: bold;}

.main-3-1:hover > a{
    transition: 0.5s;
    background-color: cornflowerblue;
    color: #fff;
}

.main-3-2{
    display: flex; width: 100%;
    flex-direction: column;text-align: center;
    box-shadow: 20px -10px 10 10 gray;
    border: 1px solid #eee;
    margin-top: 50px;
}

.main-3-2 > a{
    transition: 0.4s;
    padding: 60px;
    cursor: default;
    width: 100%;
}
.main-3-2 a img{
    margin: 0 auto;
    padding:0;
    z-index: 99;
    left: 20%;
}


.main-3-2 > div{
    display: flex; margin-top: 40px;
    flex-direction: column;
    height: 100%;
}
.main-3-2 > div >b{
    font-size: 24px;
}
.main-3-2 > div >span{
    font-size: 16px;
}

.s2{
    border: 1px solid #ddd;padding: 5px;
    border-radius: 25px; margin: 0 auto;
    width: 154px; text-align: center;
    line-height: 50px; font-weight: bold;
}

.s2 > a{color: #000; font-weight: bold;}

.main-3-2:hover > a{
    position: relative;
    margin: 0 auto;
    width: 100%;
    
}
.main-3-2 > a > img{
    opacity: 1; 
    width: 40%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    display: block;
    left: 30%;
    top: 40%;
}


.main-4{
    background-image: none;
    width: 100%;
    height: 100%; margin: 0 auto; align-items: center; margin: 0 auto;
    justify-content: center; padding:50px 50px;
}
.main-4 b{
    font-size: 24px;
}
.main-4 > div{
    width: 100%; margin: 0 auto;
    left: 15%; 
}

.m-cul{display: block;}
.m-cul img{
    width: 100%;height: 100%;
}


.s3{
    border: 1px solid #626262; border-radius: 20px;
    width: 140px; text-align: center; margin-top: 40px;
    padding: 10px;
    background-color: #000;
}

.s3 > a{
    color: #fff;
}

.main-5{
    margin: 0 auto;
    padding:50px 50px;
}
.main-5-1{
    display: flex; justify-content: space-between;
    max-width: 780; width: 100%;
    margin: 0 auto;
}
.main-5-1 > b{
font-size: 24px; padding: 50px 0;
}
.main-5-2{
    display: flex; justify-content: space-between;
}
.main-5-2 > span{
    position: relative;
}

.main-5-2 > span > img{display: none;}

.main-5-2 > span > button{
    position: absolute; left: 0.5px;
    height: 50px; width: 50px;
    border-radius: 25px; opacity: 0;
    display: none;
}

.main-5-2 > span > button:active{
    opacity: 0.1;
} 

.main-5-3{
    display: flex; justify-content: space-between;
    width: 100%; margin: 0 auto;
    overflow-x : scroll;
    max-width: 1200px;
}
.main-5-3 > div{
    padding: 50px;
}
.main-5-3 > div > h3{
    font-size: 24px; padding-bottom: 20px;
}
.main-5-3 > div > b{
    font-size: 18px;
}
.main-5-3 > div > p{
    width: 165px; margin-top: 30px;
}





.footer{
    background-color: #000;
    color: #fff; text-align: left;
    height: 100%;
    padding-left: 50px; padding-right: 50px;
    padding-bottom: 200px;
}

.footer > div{
    width: 100%; margin: 0 auto; padding: 0;
    display: flex; flex-direction: column;
    
}

.footer > div > div:nth-of-type(1){
    display: flex; width: 100%;
    flex-direction: column;
}

.footer > div > span{}

.footer > div > div > span:nth-of-type(2){
    display: flex; justify-content: space-between;
}
.footer > div > div > span:nth-of-type(2) a{
    margin-top: 20px; margin-right: 0;
}

.footer > div > div > span > b{
    font-size: 24px; text-decoration: underline;
    margin-right: 50px;
}

.footer > div > div > span > a{
    color: #fff; font-size: 18px;
    margin-right: 50px; margin-top: 20px;
}



.footer-1{
    font-size: 18px; width: 100%;
    height: 334px;
    
}
.footer-1 > div{
    width: 100%;
    text-align: left;display: flex; flex-direction: column;
}
.footer-1 div > div:nth-of-type(1){
    border-bottom: 1px solid #626262;
    width: 100%;
}
.footer-1 > div > span{
    display: flex; flex-direction: column;
    
}   

.footer-1 > div > span > b{
    text-decoration: underline;
    font-size: 18px;
}
.footer-1 > div > span > p{
    color: #888888; font-size: 18px;
}

.footer-1 >div >div{
    display: flex; justify-content: space-between;
    flex-direction: column;
    padding: 30px 0px; width: 100%;
}

.footer-1 > div > div >span > b{
    text-decoration: underline;
    font-size: 18px;
} 
.footer-1 > div > div >span > a{
}
.footer-1 > div > div >span > p{
    color: #888888; font-size: 18px;
}















}