@import url('./common.css');
/* common.css */

body{font-family: "Noto Sans KR", Sans-Serif;}

.wrap{max-width: 100%; margin: 0 auto;}

.main-1{
    max-width: 1920px; margin: 0 auto; align-items: center;
    position: relative;
}
.main-1 div{
    height: 100px;
    margin: 0 auto;
    align-items: center;
    width: 100%; height: 48%
}
.main-1 div:nth-of-type(1){
    width: 100%; height: 100%;
}
.main-1 div:nth-of-type(1) img{
    width: 100%;height:100%;
}
.main-1 div:nth-of-type(2) img{
    width: 20%; height: 30%;
    position: absolute;
    top: 85%; left: 20%;
}

.main-2{
    width: 800px;
    padding-top: 200px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.main-2 ul{
    margin: 0 auto; width: 800px;
    display: flex; flex-direction: column;
    align-items: center;
}

.main-2 ul h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.main-2 ul h2{
    font-size: 30px;
}

.main-2 ul h3{}

.main-2 ul a{}

.main-2 ul li{
    width: 708px; margin: 0 auto;
    display: flex; flex-direction: column;

}
.main-2 ul li:nth-of-type(1){width: 610px; margin: 0 auto;}
.main-2 ul li:nth-of-type(2){width:610px; margin: 0 auto;}
.main-2 ul li img{
    width: 708px; height: 471px; margin: 0 auto;
}

.main-2 ul li b{}
.main-2 ul li p{
    width: 708px;
    font-size: 16px;
}

.main-2 ul li div{}





.ul-1 li:nth-of-type(1){
    border-left: 3px solid #000;
    
}
.ul-1 li:nth-of-type(2){
    padding: 100px 0;
}

.ul-1 li b{margin-left: 20px;font-size: 1em;line-height: 1.5;}
.ul-1 li p{margin-left: 20px;font-size: 1em;line-height: 1.5;}

.ul-2 li:nth-of-type(1){
    border-top: 1px solid #ddd;
}

.ul-2 li:nth-of-type(2) b{
    color: #9065b0;
    font-size: 16px;
    margin-bottom: 50px;
}

.ul-3 li{
    background-color: rgba(244, 240, 247, 0.8);
    width: 708px;
    padding-top: 50px;
    
}
.ul-3 li:nth-of-type(2){
    padding-bottom: 50px;
}
.ul-3 li div b,p{
    font-size: 16px; width: 610px;
    display: inline;
    
}
.ul-3 > div{
    border: 1px solid #ddd;
    padding: 4px 4px;
    width: 610px;
    margin-top: 20px;
}
.ul-3> div:hover{
    background-color: #ddd;
    cursor: pointer;
}
.ul-3 > div p:nth-of-type(1){
    font-size: 14px;
    margin-left: 16px;
}
.ul-3 > div p:nth-of-type(2){
    font-size: 12px;
    color: #37352fa6;
    margin-left: 16px;
}
.ul-3 > div a{
    font-size: 12px;
    color: #37352f;
    margin-left: 16px;
}